In [1]:
import matplotlib.pyplot as plt
import matplotlib.animation as animation
from matplotlib.animation import FuncAnimation
from IPython.display import HTML
import pandas as pd
import seaborn as sn
import bar_chart_race as bcr

In [2]:
df = pd.read_csv("monthly-temperature-anomalies.csv")
df["date"] = pd.to_datetime(df["Day"])
df = df[
    (df["date"] > "2020-01-01")
    & (
        df["Entity"].isin(
            [
                "Afghanistan",
                "Albania",
                "Algeria",
                "American Samoa",
                "Andorra",
                "Angola",
                "Anguilla",
                "Antigua and Barbuda",
                "Argentina",
                "Armenia",
                "Australia",
                "Austria",
                "Azerbaijan",
                "Bahamas",
                "Bahrain",
                "Bangladesh",
                "Belarus",
                "Belgium",
                "Belize",
                "Benin",
            ]
        )
    )
]
# df.set_index('date', inplace=True)
df.head()

         Entity Code        Day  Temperature anomaly       date
80  Afghanistan  AFG  1/15/2020            -1.317050 2020-01-15
81  Afghanistan  AFG  1/15/2021             0.241868 2021-01-15
82  Afghanistan  AFG  1/15/2022             0.920612 2022-01-15
83  Afghanistan  AFG  1/15/2023            -3.092134 2023-01-15
84  Afghanistan  AFG  1/15/2024             4.543521 2024-01-15

In [3]:
df_pivot = df.pivot(index="date", columns="Entity", values="Temperature anomaly")
df_pivot.head()

Entity,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Belarus,Belgium,Belize,Benin
date,,,,,,,,,,,,,,,,,,,,
2020-01-15,-1.317050,0.452926,0.223489,0.109455,1.724164,0.712345,0.340366,0.317396,0.438723,0.228467,0.459448,1.571771,0.558189,0.615549,0.467348,-0.239870,5.241498,2.186070,1.188229,-0.126841
2020-02-15,2.019373,1.842331,2.359922,0.049706,4.420888,0.509029,0.508665,0.359993,0.157524,0.556441,0.408037,3.442719,1.668905,0.981518,0.048574,-1.380844,5.188090,2.993130,1.344154,-0.252821
2020-03-15,0.356146,0.924492,0.899538,0.420155,0.597644,0.640898,0.259588,0.156172,2.162001,2.891569,0.185045,0.565131,2.134615,0.568090,0.588877,-0.642584,2.803448,0.220119,0.907932,0.697475
2020-04-15,-0.380970,0.005036,1.424213,0.365179,1.309279,0.401169,0.753386,0.693827,0.710439,-1.340267,0.922195,1.807495,-1.721189,1.517204,0.748959,-0.861919,-1.139568,2.223504,1.717081,0.365519
2020-05-15,0.128820,0.356160,1.347322,0.705841,2.139689,0.500120,0.556189,0.457054,0.621214,1.017646,-1.033789,-0.982936,0.789432,0.645475,-0.036364,-0.320618,-2.544859,0.127271,0.909742,0.742294

In [4]:
df_pivot = df_pivot.ffill()

In [5]:
df_values, df_ranks = bcr.prepare_wide_data(
    df_pivot, steps_per_period=4, orientation="h", sort="desc"
)
df_values.head()

Entity,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Belarus,Belgium,Belize,Benin
date,,,,,,,,,,,,,,,,,,,,
2020-01-15,-1.317050,0.452926,0.223489,0.109455,1.724164,0.712345,0.340366,0.317396,0.438723,0.228467,0.459448,1.571771,0.558189,0.615549,0.467348,-0.239870,5.241498,2.186070,1.188229,-0.126841
2020-01-15,-0.482944,0.800277,0.757597,0.094518,2.398345,0.661516,0.382441,0.328045,0.368423,0.310460,0.446595,2.039508,0.835868,0.707041,0.362655,-0.525114,5.228146,2.387835,1.227210,-0.158336
2020-01-15,0.351161,1.147629,1.291705,0.079580,3.072526,0.610687,0.424516,0.338695,0.298123,0.392454,0.433743,2.507245,1.113547,0.798533,0.257961,-0.810357,5.214794,2.589600,1.266192,-0.189831
2020-01-15,1.185267,1.494980,1.825813,0.064643,3.746707,0.559858,0.466590,0.349344,0.227824,0.474448,0.420890,2.974982,1.391226,0.890026,0.153268,-1.095601,5.201442,2.791365,1.305173,-0.221326
2020-02-15,2.019373,1.842331,2.359922,0.049706,4.420888,0.509029,0.508665,0.359993,0.157524,0.556441,0.408037,3.442719,1.668905,0.981518,0.048574,-1.380844,5.188090,2.993130,1.344154,-0.252821

In [6]:
bcr.bar_chart_race(
    df=df_pivot,
    filename="test_6.gif",
    orientation="h",
    sort="desc",
    n_bars=10,
    fixed_max=True,
    steps_per_period=40,
    figsize=(10, 6),
    dpi=144,
    cmap="dark12",
    title="Temperature Anomaly by Country",
    label_bars=True,
    bar_size=0.95,
    period_label={"x": 0.99, "y": 0.25, "ha": "right", "va": "center"},
    period_fmt="%B %d, %Y",
    period_summary_func=lambda v, r: {
        "x": 0.99,
        "y": 0.18,
        "s": f"temp: {v.nlargest().sum():,.0f}",
        "ha": "right",
        "size": 8,
        "family": "Courier New",
    },
    title_size="",
    bar_label_size=7,
    tick_label_size=7,
    # shared_fontdict={"family": "Helvetica", "color": ".1"},
    scale="linear",
    writer=None,
    fig=None,
    bar_kwargs={"alpha": 0.7},
    filter_column_colors=False,
)

c:\Users\alire\Dropbox\MMA_ranking\venv\mma_ranking\Lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
c:\Users\alire\Dropbox\MMA_ranking\venv\mma_ranking\Lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
MovieWriter imagemagick unavailable; using Pillow instead.

In [44]:
_df = bcr.load_dataset("covid19_tutorial")

In [75]:
bcr.bar_chart_race(
    df=_df,
    filename="source_2.gif",
    orientation="h",
    sort="desc",
    n_bars=10,
    fixed_max=True,
    steps_per_period=40,
    figsize=(10, 6),
    dpi=144,
    cmap="dark12",
    title="Temperature Anomaly by Country",
    label_bars=True,
    bar_size=0.95,
    period_label={"x": 0.99, "y": 0.25, "ha": "right", "va": "center"},
    period_fmt="%B %d, %Y",
    period_summary_func=lambda v, r: {
        "x": 0.99,
        "y": 0.18,
        "s": f"temp: {v.nlargest().sum():,.0f}",
        "ha": "right",
        "size": 8,
        "family": "Courier New",
    },
    title_size="",
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={"family": "Helvetica", "color": ".1"},
    scale="linear",
    writer=None,
    fig=None,
    bar_kwargs={"alpha": 0.7},
    filter_column_colors=False,
)

c:\Users\alire\Dropbox\MMA_ranking\venv\mma_ranking\Lib\site-packages\bar_chart_race\_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
c:\Users\alire\Dropbox\MMA_ranking\venv\mma_ranking\Lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
c:\Users\alire\Dropbox\MMA_ranking\venv\mma_ranking\Lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
MovieWriter imagemagick unavailable; using Pillow instead.

In [73]:
_df.index

DatetimeIndex(['2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06',
               '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10',
               '2020-04-11', '2020-04-12'],
              dtype='datetime64[ns]', name='date', freq=None)

In [72]:
df_pivot.index

DatetimeIndex(['2020-01-15', '2020-02-15', '2020-03-15', '2020-04-15',
               '2020-05-15', '2020-06-15', '2020-07-15', '2020-08-15',
               '2020-09-15', '2020-10-15', '2020-11-15', '2020-12-15',
               '2021-01-15', '2021-02-15', '2021-03-15', '2021-04-15',
               '2021-05-15', '2021-06-15', '2021-07-15', '2021-08-15',
               '2021-09-15', '2021-10-15', '2021-11-15', '2021-12-15',
               '2022-01-15', '2022-02-15', '2022-03-15', '2022-04-15',
               '2022-05-15', '2022-06-15', '2022-07-15', '2022-08-15',
               '2022-09-15', '2022-10-15', '2022-11-15', '2022-12-15',
               '2023-01-15', '2023-02-15', '2023-03-15', '2023-04-15',
               '2023-05-15', '2023-06-15', '2023-07-15', '2023-08-15',
               '2023-09-15', '2023-10-15', '2023-11-15', '2023-12-15',
               '2024-01-15', '2024-02-15'],
              dtype='datetime64[ns]', name='date', freq=None)